.banner {
  height: 800px;
  position: relative;
  background-image: url(/assets/images/hero-sellers.png);
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

.banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #727272;
  opacity: 0.7;
}

.custom-shape-divider-bottom-1645507117 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1645507117 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 173px;
}

.custom-shape-divider-bottom-1645507117 .shape-fill {
  fill: #f3f4f6;
}

/* how it works */
.how-it-works {
  background-image: url(/assets/images/circle-artifacts.svg),
    url(/assets/images/ring-artifacts.svg), url(/assets/images/swirle-libe.svg),
    url(/assets/images/polygon.svg);
  background-repeat: no-repeat;
  background-position: 220px top, 240px 150px, 87% 140px, 500px bottom;
  background-size: 40px, 120px, 200px, 60px;
}

.half-black {
  min-height: 300px;
}

.half-black::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111827;
}

.half-black::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url(/assets/images/seller-obinnapro.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.slanted::after {
  position: absolute;
  content: "";
  background: #fff;
  height: 100%;
  transform: skewY(-2deg);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 640px) {
  .banner {
    height: 620px;
    background-size: cover;
    background-position: -560px center;
  }

  .how-it-works {
    background-image: url(/assets/images/circle-artifacts.svg),
      url(/assets/images/ring-artifacts.svg), url(/assets/images/polygon.svg);
    background-repeat: no-repeat;
    background-position: 30px top, 20px 230px, 100px bottom;
    background-size: 30px, 120px, 60px;
  }

  .custom-shape-divider-bottom-1645507117 svg {
    height: 80px;
  }
}
