<div class="bg-gray-700 relative banner">
  <div class="max-w-6xl mx-auto h-full relative sm:px-6 py-2 px-8 pb-6">
    <div class="absolute sm:top-48 top-24 left-0 sm:px-0 px-4">
      <p class="text-5xl font-bold text-white mb-4">
        Join the No.1<br />Ecommerce<br />
        Platform in Nigeria.
      </p>

      <p class="sm:text-xl font-light text-3xl text-white sm:mb-8 mb-10">
        Start making money now, it's easy and free.
      </p>

      <button
        class="px-14 sm:py-3 py-4 font-medium sm:text-base text-lg sm:bg-[#02796F] hover:bg-[#004D47] bg-[#004D47] text-white uppercase rounded-full"
      >
        Become a Seller
      </button>
    </div>
  </div>

  <div class="custom-shape-divider-bottom-1645507117">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</div>

<div class="how-it-works">
  <div class="max-w-6xl mx-auto sm:px-6 px-4 pt-10 pb-24">
    <div class="max-w-xl mx-auto text-center mb-8">
      <h2 class="sm:text-3xl text-xl text-gray-700 font-bold uppercase mb-4">
        How it works
      </h2>
      <p class="text-gray-700 leading-6">
        Become a member on the SellersHub platform by creating an account either
        using your social media account or email account. Proceed to create
        store and begin upload of store details, then await your dashboard where
        items can be uploaded and all inventory managed.
      </p>
    </div>

    <div class="grid grid-cols-12 sm:gap-10 gap-x-0 gap-y-8">
      <div class="sm:col-span-4 col-span-12 bg-white rounded-xl p-12">
        <img
          src="assets/images/become_member.svg"
          class="mb-4 block w-20 mx-auto"
          alt=""
        />
        <div class="text-center">
          <h3 class="font-bold text-gray-800">Become a member</h3>
          <p class="text-gray-600">
            Sign up to sell on SellersHub and reach millions of potential
            customers.
          </p>
        </div>
      </div>
      <div class="sm:col-span-4 col-span-12 bg-white rounded-xl p-12">
        <img
          src="assets/images/verify_acc.svg"
          class="mb-4 block w-20 mx-auto"
          alt=""
        />
        <div class="text-center">
          <h3 class="font-bold text-gray-800">Upload product</h3>
          <p class="text-gray-600 text-sm">
            Click on the verification link sent to you to confirm your
            registration
          </p>
        </div>
      </div>
      <div class="sm:col-span-4 col-span-12 bg-white rounded-xl p-12">
        <img
          src="assets/images/start-selling.svg"
          class="mb-4 block w-20 mx-auto"
          alt=""
        />
        <div class="text-center">
          <h3 class="font-bold text-gray-800">Start Selling</h3>
          <p class="text-gray-600 text-sm">
            Upload your products and start selling!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slanted relative">
  <div class="max-w-6xl mx-auto sm:px-6 px-4 py-20">
    <div class="max-w-xl mx-auto text-center mb-8">
      <h2 class="sm:text-3xl text-xl text-gray-700 font-bold uppercase mb-4">
        Why choose SellersHub
      </h2>
      <p class="text-gray-700 leading-6">
        SellersHub provides the right platform for sellers to promote their
        brand and store online, allowing them to have personalized interaction
        with potential buyers.
      </p>
    </div>

    <div class="grid grid-cols-12 sm:gap-6 gap-x-0 gap-y-8">
      <div class="sm:col-span-4 col-span-12">
        <div class="flex flex-col space-y-5">
          <div class="flex items-start bg-gray-100 rounded-2xl p-8 text-right">
            <div class="flex-1">
              <h4 class="text-gray-800 font-bold mb-1">Market Coverage</h4>
              <p class="text-sm text-gray-600">
                we understand your need to reach a broader consumer base and
                make smoother sales and huge profits; SellersHub as a platform
                is here to help.
              </p>
            </div>
            <div class="w-fit p-2 ml-3 shrink-0 bg-[#02796F] rounded-full">
              <img src="assets/images/market-coverage.svg" class="w-6" alt="" />
            </div>
          </div>
          <div class="flex items-start bg-gray-100 rounded-2xl p-8 text-right">
            <div class="flex-1">
              <h4 class="text-gray-800 font-bold mb-1">Market Coverage</h4>
              <p class="text-sm text-gray-600">
                SellersHub provides a user experience that allows even your most
                loyal customers to still keep in touch and purchase from you
                anywhere they are in Nigeria.
              </p>
            </div>
            <div class="w-fit p-2 ml-3 shrink-0 bg-[#02796F] rounded-full">
              <img src="assets/images/trade.svg" class="w-6" alt="" />
            </div>
          </div>
          <div class="flex items-start bg-gray-100 rounded-2xl p-8 text-right">
            <div class="flex-1">
              <h4 class="text-gray-800 font-bold mb-1">Easy of transaction</h4>
              <p class="text-sm text-gray-600">
                On SellersHub, mobile payment is made easy, fast and efficient.
              </p>
            </div>
            <div class="w-fit p-2 ml-3 shrink-0 bg-[#02796F] rounded-full">
              <img
                src="assets/images/easy-of-transaction.svg"
                class="w-6"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="sm:col-span-4 col-span-12 rounded-md">
        <img
          src="assets/images/iPhone12.svg"
          class="block w-full mx-auto"
          alt=""
        />
      </div>

      <div class="sm:col-span-4 col-span-12">
        <div class="flex flex-col space-y-5">
          <div class="flex items-start bg-gray-100 rounded-2xl p-8">
            <div class="w-fit p-2 mr-3 shrink-0 bg-[#02796F] rounded-full">
              <img src="assets/images/brand-rec.svg" class="w-6" alt="" />
            </div>
            <div class="flex-1">
              <h4 class="text-gray-800 font-bold mb-1">Brand recognition</h4>
              <p class="text-sm text-gray-600">
                Do you yearn for a platform where your brand image can be
                improved and recognized? The SellersHub platform is perfect.
              </p>
            </div>
          </div>
          <div class="flex items-start bg-gray-100 rounded-2xl p-8">
            <div class="w-fit p-2 mr-3 shrink-0 bg-[#02796F] rounded-full">
              <img src="assets/images/market-insight.svg" class="w-6" alt="" />
            </div>
            <div class="flex-1">
              <h4 class="text-gray-800 font-bold mb-1">Market insight</h4>
              <p class="text-sm text-gray-600">
                SellersHub ensures that you can monitor your sales annually to
                know if you are excelling at a particular trade to make better
                decision.
              </p>
            </div>
          </div>
          <div class="flex items-start bg-gray-100 rounded-2xl p-8">
            <div class="w-fit p-2 mr-3 shrink-0 bg-[#02796F] rounded-full">
              <img src="assets/images/efficiency.svg" class="w-6" alt="" />
            </div>
            <div class="flex-1">
              <h4 class="text-gray-800 font-bold mb-1">
                Efficiency & trustworthy
              </h4>
              <p class="text-sm text-gray-600">
                Issue of quality and efficient service delivery is our watch
                word at SellersHub.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="max-w-6xl mx-auto sm:px-6 px-4 py-20">
    <div class="max-w-xl mx-auto text-center mb-8">
      <h2 class="sm:text-3xl text-xl text-gray-700 font-bold uppercase">
        Successful stories
      </h2>
    </div>

    <div class="bg-white shadow-sm grid grid-cols-12 sm:gap-y-0 gap-y-8">
      <div
        class="sm:col-span-4 col-span-12 relative half-black bg-gray-50"
      ></div>
      <div class="sm:col-span-8 col-span-12 sm:px-6 px-4 py-8">
        <app-stories></app-stories>
      </div>
    </div>
  </div>
</div>
