@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  justify-content: flex-start !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  text-align: left;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffb300;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  background-image: url(/assets/images/right-arrow-circle.svg) !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: ""; // "next"
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: inherit !important;
  bottom: 0 !important;
}
