<swiper [navigation]="true" [pagination]="{ clickable: true }" class="mySwiper">
  <ng-template swiperSlide>
    <div class="space-y-8 pb-8">
      <div class="">
        <button
          class="bg-[#02796F] text-white text-sm font-light italic px-3 p-1.5 rounded-sm mb-4"
        >
          Store Owner
        </button>
        <h2 class="text-gray-700 font-bold mb-1">My Story</h2>
        <p class="text-gray-600 text-sm">
          Ever since I joined kaiglo, I have experienced improved sales due to
          their market insight data.
        </p>
      </div>
      <div>
        <h3 class="font-bold text-gray-700">Obinna Boss</h3>
        <p class="text-[#02796F] italic font-medium text-sm">
          CEO (ObinnaBoss Fashion)
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>Slide 2</ng-template>
  <ng-template swiperSlide>Slide 3</ng-template>
  <ng-template swiperSlide>Slide 4</ng-template>
  <ng-template swiperSlide>Slide 5</ng-template>
</swiper>
