.appbar {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.mobile-menu {
  position: absolute;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-100%);
}

.bar-1,
.bar-2,
.bar-3 {
  transition: all 0.2s linear;
  transform-origin: 1px;
  position: relative;
}

.bar-1 {
  transform: rotate(0);
}
.bar-2 {
  opacity: 1;
  transform: translateX(0);
}
.bar-3 {
  transform: rotate(0);
}

.open {
  .bar-1 {
    transform: rotate(45deg);
  }
  .bar-2 {
    opacity: 0;
    transform: translateX(20deg);
  }
  .bar-3 {
    transform: rotate(-45deg);
  }
}

.open-mobile {
  transform: translateX(0);
}
