<div>
  <header class="bg-white appbar shadow-sm">
    <div class="max-w-6xl mx-auto sm:px-6 py-3 px-4">
      <div class="w-full flex items-center">
        <div class="w-fit">
          <img src="assets/images/logo.svg" class="h-7" alt="logo" />
        </div>

        <div class="flex-1"></div>

        <nav>
          <ul class="sm:flex hidden space-x-6">
            <li>
              <a
                [routerLink]="['/']"
                routerLinkActive="router-link-active"
                class="block py-1 text-sm text-gray-600"
              >
                Kaiglo Express
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/']"
                routerLinkActive="router-link-active"
                class="block py-1 text-sm text-gray-600"
              >
                Learning center
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/']"
                routerLinkActive="router-link-active"
                class="block px-4 py-1 text-xs text-gray-600 uppercase border border-gray-400 rounded-2xl"
              >
                Register
              </a>
            </li>
          </ul>

          <div class="sm:hidden block relative">
            <button
              [ngClass]="{ open: open }"
              (click)="handleOpen()"
              class="flex flex-col w-8 h-8 justify-around focus:outline-none bg-transparent transition-all duration-500"
            >
              <div class="w-full h-0.5 bg-gray-800 bar-1"></div>
              <div class="w-full h-0.5 bg-gray-800 bar-2"></div>
              <div class="w-full h-0.5 bg-gray-800 bar-3"></div>
            </button>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <ul
    class="mobile-menu z-10 py-6 px-4 bg-white space-y-2 shadow-md"
    [ngClass]="{ 'open-mobile': open }"
  >
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="block py-1 text-sm text-[#02796F]"
      >
        Kaiglo Express
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="block py-1 text-sm text-[#02796F]"
      >
        Learning center
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="block w-fit px-4 py-1 text-xs text-[#02796F] uppercase border border-gray-400 rounded-2xl"
      >
        Register
      </a>
    </li>
  </ul>
</div>
