<footer class="bg-white">
  <div class="max-w-6xl mx-auto sm:px-6 px-4 py-16">
    <div class="grid grid-cols-5 sm:gap-8 gap-x-0 gap-y-6">
      <div class="sm:col-span-1 col-span-5">
        <h3 class="text-[#02796F] text-sm font-medium mb-4">
          Company information
        </h3>
        <ul>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              Contact us
            </a>
          </li>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              Terms and Conditions
            </a>
          </li>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              Privacy Policy
            </a>
          </li>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              About Us
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-1 col-span-5">
        <h3 class="text-[#02796F] text-sm font-medium mb-4">
          Customer Service
        </h3>
        <ul>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              Shipping & Delivery
            </a>
          </li>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              SellersHub Express
            </a>
          </li>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              Return Policy
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-1 col-span-5">
        <h3 class="text-[#02796F] text-sm font-medium mb-4">Kaiglo Social</h3>
        <ul
          class="flex justify-start items-center flex-wrap sm:gap-x-5 gap-x-2 gap-y-2"
        >
          <li class="border w-8">
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F] text-center"
            >
              <fa-icon [icon]="fb"></fa-icon>
            </a>
          </li>
          <li class="border w-8">
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F] text-center"
            >
              <fa-icon [icon]="tw"></fa-icon>
            </a>
          </li>
          <li class="border w-8">
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F] text-center"
            >
              <fa-icon [icon]="insta"></fa-icon>
            </a>
          </li>
          <li class="border w-8">
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F] text-center"
            >
              <fa-icon [icon]="tel"></fa-icon>
            </a>
          </li>
          <li class="border w-8">
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F] text-center"
            >
              <fa-icon [icon]="fbMsg"></fa-icon>
            </a>
          </li>
          <li class="border w-8">
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F] text-center"
            >
              <fa-icon [icon]="yt"></fa-icon>
            </a>
          </li>
          <li class="border w-8">
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F] text-center"
            >
              <fa-icon [icon]="pin"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-1 col-span-5">
        <h3 class="text-[#02796F] text-sm font-medium mb-4">
          Make money with us
        </h3>
        <ul>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              Sell on SellersHub
            </a>
          </li>
          <li>
            <a
              routerLink="/"
              class="block py-1 text-sm text-gray-500 hover:text-[#02796F]"
            >
              Become an Affiliate Partner
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-1 col-span-5">
        <h3 class="text-[#02796F] text-sm font-medium mb-4">
          Download our Mobile App!
        </h3>

        <ul class="flex items-center sm:space-x-1 space-x-2">
          <li class="shrink-0">
            <a routerLink="/" class="flex py-1 px-2 bg-black rounded-md">
              <img
                src="assets/images/google-play.svg"
                class="w-6 mr-1.5 shrink-0"
                alt=""
              />
              <div class="flex flex-col flex-1 text-xs text-white">
                <span class="tracking-tight xs uppercase">Get it on</span>
                <span class="font-medium">Google Play</span>
              </div>
            </a>
          </li>
          <li class="shrink-0">
            <a routerLink="/" class="flex py-1 px-2 bg-black rounded-md">
              <img
                src="assets/images/apple-logo.svg"
                class="w-6 mr-1.5 shrink-0"
                alt=""
              />
              <div class="flex flex-col flex-1 text-xs text-white">
                <span class="tracking-tight xs">Download on the</span>
                <span class="font-medium">App Store</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-gray-800 sm:p-4 p-4 text-center">
    <p class="text-gray-200 text-sm">
      Copyright &copy; {{ year }}
      <span class="text-[#34d399] uppercase">SellersHub STORES LIMITED</span
      >.<br />
      All Rights Reserved. User Agreement, Privacy and Cookies.
    </p>
  </div>
</footer>
